{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une série</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Retour à la liste des séries</a>
        </li>
    </ul>
{% endblock %}